:root, html[data-theme="custom-theme"] {
  --font-family-base: Inter, system-ui, sans-serif;
  --radius-none: 0;
  --radius-xs: 0;
  --radius-sm: 0;
  --radius-md: 0;
  --radius-lg: 0;
  --radius-xl: 0;
  --radius-2xl: 0;
  --radius-3xl: 0;
  --radius-full: 9999px;
  --border-width-none: 0;
  --border-width-thin: 1px;
  --border-width-default: 1px;
  --type-body-sm-size: 0.875rem;
  --type-body-sm-line-height: 1.25rem;
  --type-body-sm-weight: 400;
  --type-body-sm-tracking: 0em;
  --type-body-md-size: 1rem;
  --type-body-md-line-height: 1.5rem;
  --type-body-md-weight: 400;
  --type-body-md-tracking: 0em;
  --type-body-lg-size: 1.125rem;
  --type-body-lg-line-height: 1.75rem;
  --type-body-lg-weight: 400;
  --type-body-lg-tracking: 0em;
  --type-label-sm-size: 0.75rem;
  --type-label-sm-line-height: 1rem;
  --type-label-sm-weight: 500;
  --type-label-sm-tracking: 0em;
  --type-label-md-size: 0.875rem;
  --type-label-md-line-height: 1.25rem;
  --type-label-md-weight: 500;
  --type-label-md-tracking: 0em;
  --type-label-lg-size: 1rem;
  --type-label-lg-line-height: 1.5rem;
  --type-label-lg-weight: 500;
  --type-label-lg-tracking: 0em;
  --type-caption-size: 0.75rem;
  --type-caption-line-height: 1rem;
  --type-caption-weight: 400;
  --type-caption-tracking: 0em;
  --type-heading-sm-size: 1.25rem;
  --type-heading-sm-line-height: 1.75rem;
  --type-heading-sm-weight: 600;
  --type-heading-sm-tracking: 0em;
  --type-heading-md-size: 1.5rem;
  --type-heading-md-line-height: 2rem;
  --type-heading-md-weight: 600;
  --type-heading-md-tracking: 0em;
  --type-heading-lg-size: 2rem;
  --type-heading-lg-line-height: 2.5rem;
  --type-heading-lg-weight: 600;
  --type-heading-lg-tracking: 0em;
  --type-code-sm-size: 0.75rem;
  --type-code-sm-line-height: 1rem;
  --type-code-sm-weight: 400;
  --type-code-sm-tracking: 0em;
  --type-code-md-size: 0.875rem;
  --type-code-md-line-height: 1.25rem;
  --type-code-md-weight: 400;
  --type-code-md-tracking: 0em;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.07);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.08);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1);
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-0_5: 0.125rem;
  --spacing-1_5: 0.375rem;
  --info-fill: 219 88% 54%;
  --brand-fill: 138 100% 50%;
  --error-fill: 4 83% 55%;
  --focus-ring: 219 88% 54%;
  --info-border: 216 92% 90%;
  --error-border: 2 92% 91%;
  --info-surface: 217 100% 98%;
  --neutral-fill: 0 0% 98%;
  --success-fill: 162 86% 35%;
  --surface-card: 0 0% 100%;
  --surface-page: 0 0% 98%;
  --warning-fill: 30 100% 44%;
  --border-strong: 238 8% 80%;
  --error-surface: 0 100% 99%;
  --generic-black: 0 0% 0%;
  --generic-white: 0 0% 100%;
  --border-default: 245 10% 88%;
  --success-border: 152 48% 84%;
  --surface-strong: 238 8% 80%;
  --surface-subtle: 0 0% 94%;
  --warning-border: 32 94% 83%;
  --success-surface: 152 39% 98%;
  --warning-surface: 34 100% 97%;
  --foreground-muted: 227 4% 43%;
  --surface-moderate: 245 10% 88%;
  --neutral-fill-hover: 0 0% 94%;
  --foreground-primary: 240 3% 6%;
  --foreground-disabled: 229 5% 57%;
  --neutral-fill-pressed: 245 10% 88%;
  --foreground-secondary: 228 4% 25%;
  --neutral-fill-disabled: 0 0% 98%;
  --brand-50: 119 100% 97%;
  --brand-100: 121 100% 89%;
  --brand-200: 138 100% 50%;
  --brand-300: 138 100% 45%;
  --brand-400: 140 100% 36%;
  --brand-500: 146 100% 27%;
  --brand-600: 145 100% 23%;
  --brand-700: 144 100% 20%;
  --brand-800: 141 100% 16%;
  --brand-900: 137 100% 12%;
  --brand-950: 131 100% 8%;
  --brand-fill-hover: var(--brand-300);
  --brand-fill-pressed: var(--brand-400);
  --brand-fill-disabled: var(--brand-200);
  --error-50: 0 100% 99%;
  --error-100: 0 96% 96%;
  --error-200: 2 92% 91%;
  --error-300: 3 88% 84%;
  --error-400: 4 84% 71%;
  --error-500: 4 83% 55%;
  --error-600: 6 76% 48%;
  --error-700: 8 70% 40%;
  --error-800: 10 64% 32%;
  --error-900: 12 58% 24%;
  --error-950: 356 89% 17%;
  --info-50: 217 100% 98%;
  --info-100: 215 96% 95%;
  --info-200: 216 92% 90%;
  --info-300: 217 90% 83%;
  --info-400: 218 88% 69%;
  --info-500: 219 88% 54%;
  --info-600: 222 82% 48%;
  --info-700: 224 76% 40%;
  --info-800: 226 70% 32%;
  --info-900: 228 64% 24%;
  --info-950: 216 82% 17%;
  --neutral-50: 0 0% 98%;
  --neutral-100: 0 0% 94%;
  --neutral-200: 245 10% 88%;
  --neutral-300: 238 8% 80%;
  --neutral-400: 231 6% 69%;
  --neutral-500: 229 5% 57%;
  --neutral-600: 227 4% 43%;
  --neutral-700: 228 4% 34%;
  --neutral-800: 228 4% 25%;
  --neutral-900: 240 4% 15%;
  --neutral-950: 240 3% 6%;
  --success-50: 152 39% 98%;
  --success-100: 149 44% 93%;
  --success-200: 152 48% 84%;
  --success-300: 156 52% 71%;
  --success-400: 160 60% 49%;
  --success-500: 162 86% 35%;
  --success-600: 164 80% 29%;
  --success-700: 166 74% 23%;
  --success-800: 168 68% 18%;
  --success-900: 168 58% 14%;
  --success-950: 150 55% 10%;
  --warning-50: 34 100% 97%;
  --warning-100: 33 96% 92%;
  --warning-200: 32 94% 83%;
  --warning-300: 31 92% 73%;
  --warning-400: 30 96% 56%;
  --warning-500: 30 100% 44%;
  --warning-600: 28 90% 35%;
  --warning-700: 26 80% 27%;
  --warning-800: 24 70% 20%;
  --warning-900: 22 60% 14%;
  --warning-950: 30 100% 10%;
  --on-neutral: 240 3% 6%;
  --on-brand: 131 100% 8%;
  --on-info: 0 0% 100%;
  --on-success: 0 0% 100%;
  --on-error: 0 0% 100%;
  --on-warning: 0 0% 100%;
  --info-fill-hover: 222 82% 48%;
  --info-fill-pressed: 224 76% 40%;
  --info-fill-disabled: 216 92% 90%;
  --info-text: 224 76% 40%;
  --success-fill-hover: 164 80% 29%;
  --success-fill-pressed: 166 74% 23%;
  --success-fill-disabled: 152 48% 84%;
  --success-text: 166 74% 23%;
  --warning-fill-hover: 28 90% 35%;
  --warning-fill-pressed: 26 80% 27%;
  --warning-fill-disabled: 32 94% 83%;
  --warning-text: 26 80% 27%;
  --error-fill-hover: 6 76% 48%;
  --error-fill-pressed: 8 70% 40%;
  --error-fill-disabled: 2 92% 91%;
  --error-text: 8 70% 40%;
}

html.dark:not([data-theme]), html.dark[data-theme="custom-theme"] {
  --info-fill: 219 88% 54%;
  --brand-fill: 138 100% 50%;
  --error-fill: 4 83% 55%;
  --focus-ring: 218 88% 69%;
  --info-border: 226 70% 32%;
  --error-border: 10 64% 32%;
  --info-surface: 216 82% 17%;
  --neutral-fill: 240 4% 15%;
  --success-fill: 162 86% 35%;
  --surface-card: 240 3% 6%;
  --surface-page: 0 0% 0%;
  --warning-fill: 30 100% 44%;
  --border-strong: 228 4% 25%;
  --error-surface: 356 89% 17%;
  --border-default: 240 4% 15%;
  --success-border: 168 68% 18%;
  --surface-strong: 228 4% 34%;
  --surface-subtle: 240 4% 15%;
  --warning-border: 24 70% 20%;
  --success-surface: 150 55% 10%;
  --warning-surface: 30 100% 10%;
  --foreground-muted: 231 6% 69%;
  --surface-moderate: 228 4% 25%;
  --neutral-fill-hover: 228 4% 25%;
  --foreground-primary: 0 0% 98%;
  --foreground-disabled: 227 4% 43%;
  --neutral-fill-pressed: 228 4% 34%;
  --foreground-secondary: 245 10% 88%;
  --neutral-fill-disabled: 240 4% 15%;
  --brand-50: 119 100% 97%;
  --brand-100: 121 100% 89%;
  --brand-200: 138 100% 50%;
  --brand-300: 138 100% 45%;
  --brand-400: 140 100% 36%;
  --brand-500: 146 100% 27%;
  --brand-600: 145 100% 23%;
  --brand-700: 144 100% 20%;
  --brand-800: 141 100% 16%;
  --brand-900: 137 100% 12%;
  --brand-950: 131 100% 8%;
  --brand-fill-hover: var(--brand-300);
  --brand-fill-pressed: var(--brand-400);
  --brand-fill-disabled: var(--brand-900);
  --on-neutral: 0 0% 98%;
  --on-brand: 131 100% 8%;
  --on-info: 0 0% 100%;
  --on-success: 0 0% 100%;
  --on-error: 0 0% 100%;
  --on-warning: 0 0% 100%;
  --info-fill-hover: 222 82% 48%;
  --info-fill-pressed: 224 76% 40%;
  --info-fill-disabled: 228 64% 24%;
  --info-text: 217 90% 83%;
  --success-fill-hover: 164 80% 29%;
  --success-fill-pressed: 166 74% 23%;
  --success-fill-disabled: 168 58% 14%;
  --success-text: 156 52% 71%;
  --warning-fill-hover: 28 90% 35%;
  --warning-fill-pressed: 26 80% 27%;
  --warning-fill-disabled: 22 60% 14%;
  --warning-text: 31 92% 73%;
  --error-fill-hover: 6 76% 48%;
  --error-fill-pressed: 8 70% 40%;
  --error-fill-disabled: 12 58% 24%;
  --error-text: 3 88% 84%;
}
